name: Publish docs

on:
  pull_request:
    branches:
      - main

jobs:
  build:

    strategy:
      matrix:
        python_version: ["3.10"]
        os: ["ubuntu-latest"]

    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python_version }}
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH

    - name: Update conda
      run: |
        conda update -n base -c defaults conda

    - name: Create conda env
      run: |
        conda env update --file requirements-dev.conda.yaml --name base

    - name: Print python version
      run: |
        python --version

    - name: Update docs
      run : |
        ./.build_docs.sh